<div id="<%= dom_id invoice %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Image:</strong>
    <%= invoice.image %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Extracted text:</strong>
    <%= invoice.extracted_text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= invoice.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total:</strong>
    <%= invoice.total %>
  </p>

</div>
